<div class="main ">
  <div class="border-m ">
    <div class="main-1"><h1>Bienvenidos</h1></div>
  <section class="create-proyect">
      <div class="container">
          <div class="projects-content">
            <form >
              <div class="form-group">
                <button type="submit" class=" btn btn-outline-warning btn-lg btn-block " routerLink="/agregar" >Agregar Transacción</button>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-outline-warning btn-lg btn-block " routerLink="/verTransacciones">Ver Transacciones</button>
              </div>
            </form>
          </div>
        </div>
  </section>
</div>
</div>
